<!-- Homepage Quick Links Component -->

<div class="quick-links-component padding-lg">
  <div class="content-container">
    <div class="row text-center title-row">
      <div class="col-xs-12">
        <h2 class="themed-underline">We're here for anything you need</h2>
      </div>
    </div>
    <div class="row links-row">
      <!-- Quick Link -->
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-md-offset-custom-2 col-lg-3 quick-link-col animation-element slide-right"
      >
        <a href="/newvehicles" class="quick-link">
          <div class="link-box" id="quick-link-01">
            <div class="box-overlay">
              <h3 class="quick-link__title">View our Inventory</h3>
              <div class="quick-link__btn secondary-btn">shop now test</div>
            </div>
          </div>
        </a>
      </div>
      <!-- Quick Link -->
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 quick-link-col animation-element slide-right reveal2"
      >
        <a href="/the-sansone-jr-advantage" class="quick-link">
          <div class="link-box" id="quick-link-02">
            <div class="box-overlay">
              <h3 class="quick-link__title">Why Choose Us?</h3>
              <div class="quick-link__btn secondary-btn">Our Advantage</div>
            </div>
          </div>
        </a>
      </div>
      <!-- Quick Link -->
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-md-offset-custom-2 col-lg-3 quick-link-col animation-element slide-right reveal3"
      >
        <a
          href="https://shopathome.carsaver.com/trade/sell-at-home?dealerId=5240"
          target="_blank"
          class="quick-link"
        >
          <div class="link-box" id="quick-link-03">
            <div class="box-overlay">
              <h3 class="quick-link__title">Sell or trade your car</h3>
              <div class="quick-link__btn secondary-btn">Click Here</div>
            </div>
          </div>
        </a>
      </div>
      <!-- Quick Link -->
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 quick-link-col animation-element slide-right reveal4"
      >
        <a href="{SITE_SERVICE_LINK}" class="quick-link">
          <div class="link-box" id="quick-link-04">
            <div class="box-overlay">
              <h3 class="quick-link__title">Service you can count on</h3>
              <div class="quick-link__btn secondary-btn">Schedule Now</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
