<nav class="navbar">
  <div class="navbar-nav display-flex flex-row">
    <img
      class="display-flex flex-column content-center"
      [src]="logo"
      alt="Big Chungus Trucks"
    />
    <div class="nav-links display-flex content-center">
      <a
        class="display-flex flex-column content-center"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        class="display-flex flex-column content-center"
        routerLink="/about"
        routerLinkActive="active"
        >About</a
      >
      <a
        class="display-flex flex-column content-center"
        routerLink="/contact"
        routerLinkActive="active"
        >Contact</a
      >
      <a
        class="display-flex flex-column content-center"
        routerLink="/products"
        routerLinkActive="active"
        >Products</a
      >
    </div>
  </div>
</nav>
