<header>Our Vehicles</header>

<div class="flex-row">
  <div class="flex-column">
    <img src="/assets/2025-Toyota-Tundra.png" alt="Big Chungus Truck" />
    <h2>Chungus</h2>
    <h4>Vehicle Features:</h4>
    <ul>
      <li>Tires (3/4)</li>
      <li>Functioning Furnace</li>
      <li>Hydrophilic outer paint</li>
      <li>Truck</li>
    </ul>
  </div>
  <div class="flex-column">
    <img src="/assets/2025-Toyota-Tundra-Hybrid.png" alt="Big Chungus Truck" />
    <h2>Hybrid Chungus</h2>
    <h4>Vehicle Features:</h4>
    <ul>
      <li>Tires (3.333/4)</li>
      <li>Works (most of the time)</li>
      <li>Made of glue</li>
      <li>Truck</li>
    </ul>
  </div>
</div>
